// *,
// ::before,
// ::after {
//   @apply border-none;
// }
*,
*::before,
*::after {
  min-width: 0;
  min-height: 0;
  background-position: center center;
  background-repeat: no-repeat;
  object-position: center center;
}

*:focus,
*:-moz-focusring {
  outline: 0;
}

html {
  line-height: 1;
}

body {
  text-align: left;
}

li {
  list-style-type: none;
}

ol li,
ul li {
  list-style-type: inherit;
}

code,
pre,
kbd,
samp {
  font-family: inherit;
}

b,
strong {
  font-weight: inherit;
}

address,
cite,
dfn,
em,
i,
var {
  font-style: inherit;
}

del,
ins,
s,
u {
  text-decoration: none;
}

mark {
  background-color: transparent;
  color: inherit;
}

q {
  quotes: '“' '”' '‘' '’';
}

q::before {
  content: open-quote;
}

q::after {
  content: close-quote;
}

small,
sub,
sup {
  font-size: inherit;
}

svg:not([fill]) {
  fill: currentColor;
}

caption,
th {
  text-align: inherit;
}

th {
  font-weight: inherit;
}

table {
  border-spacing: 0;
}

button {
  border-radius: 0;
  font-weight: inherit;
  text-align: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
}

select {
  text-transform: inherit;
}

input:focus,
input:hover {
  border: 0;
}
input[type='button'],
input[type='reset'],
input[type='submit'] {
  text-align: inherit;
  cursor: pointer;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}
button:focus,
input[type='button']:focus,
input[type='reset']:focus,
input[type='submit']:focus {
  outline: 0;
  border: 0;
}
input::placeholder,
textarea::placeholder {
  color: inherit;
}

script,
[hidden] {
  display: none !important;
}
