.button {
  @apply mx-auto px-4 py-2 items-center rounded-md cursor-pointer disabled:pointer-events-none disabled:opacity-60 disabled:cursor-not-allowed;
}

.button-menu {
  @apply inline-flex items-start flex-col justify-center text-tertiary rounded-lg shadow-[1px_0px_6px_rgba(0,0,0,0.25)] font-semibold w-full bg-primary text-center
  hover:shadow-[1px_0px_4px_rgba(0,0,0,0.15)];
}

.button-icon {
  @apply px-2 py-1 w-auto hover:opacity-80;
}

.button-submit {
  @apply inline-flex items-center bg-transparent hover:ring-2 hover:outline-none hover:ring-current font-medium rounded-lg text-sm px-5 py-2.5 text-center;
}

.form-button {
  @apply px-4 py-3 rounded-lg  mt-1 shadow-md font-semibold bg-transparent/5 text-center
  active:shadow-[inset_0_2px_4px_rgba(0,0,0,0.2)]
  hover:shadow-lg;
}
.button-tab[aria-selected='true'] {
  @apply text-tertiary;
}
