.button {
  @apply mx-auto p-2 items-center border-2 rounded-md;
}

.button-menu {
  @apply inline-flex items-center flex-col justify-center p-2 text-tertiary rounded-lg  mt-1 shadow-[1px_0px_6px_rgba(0,0,0,0.25)] font-semibold w-full bg-primary text-center
  hover:shadow-[1px_0px_4px_rgba(0,0,0,0.15)];
}

.button-icon {
  @apply px-2 py-1 w-auto hover:opacity-80;
}

.button-submit {
  @apply inline-flex items-center bg-transparent hover:ring-2 hover:outline-none hover:ring-current font-medium rounded-lg text-sm px-5 py-2.5 text-center;
}

<<<<<<< HEAD
.button-auth {
  @apply font-semibold w-full px-4 py-3 rounded-lg border-[1px] ring-2 ring-secondary hover:border-tertiary text-yellow bg-secondary mt-1 text-center;
}
=======
.form-button {
  @apply px-4 py-3 rounded-lg  mt-1 shadow-md font-semibold bg-transparent/5 text-center
  active:shadow-[inset_0_2px_4px_rgba(0,0,0,0.2)]
  hover:shadow-lg;
}
>>>>>>> a4a9f0c0ff4a53d48e776ef404059345d05f2554
