.form-input {
  @apply placeholder-transparent bg-transparent h-10 w-full border-b-2  border-transparent hover:border-primary text-tertiary focus:outline-none focus:border-secondary;
}
.form-label {
  @apply absolute left-0 -top-3 text-tertiary text-sm peer-placeholder-shown:text-base peer-placeholder-shown:top-2 transition-all peer-focus:-top-3 peer-focus:text-tertiary peer-focus:text-sm;
}

.form-button {
  @apply w-full rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal
  shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out
  hover:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.15)]
  focus:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.15)]
  active:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.2)];
}

// .form-radio {
//   @apply p-1 h-2 w-2 appearance-none rounded-full border-4 border-solid border-primary
//   checked:border-tertiary;
// }
